
[Desktop Entry]
Type=Application
Name=Tomld temporary learning mode
GenericName=Security tool
Comment=Request temporary learning mode from running tomld service
Exec=gksu -- /usr/sbin/tomld --learn
Terminal=false
Categories=System;
